* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    background-color: darkslateblue;
    float: right; 
    padding: 30px;
    width: 25%;
}

.box2 {
    background-color:darkblue;
    float: right; 
    padding: 30px;
    width: 25%;
}

.box3 {
    background-color:plum;
    float: right; 
    padding: 30px;
    width: 25%;
}

.box4 {
    background: mediumblue;
    float: right; 
    padding: 30px;
    width: 25%;
}

.box5 {
    background: blue;
    float: right; 
    padding: 30px;
    width: 25%;
}

.box6 {
    background: lightgreen;
    float: right; 
    padding: 30px;
    width: 25%;
}
.box7 {
    background: blueviolet;
    float: right; 
    padding: 30px;
    width: 25%;
}
.box8 {
    background:mediumpurple ;
    float: right; 
    padding: 30px;
    width: 25%;
}
.box9 {
    background: mediumslateblue;
    float: right; 
    padding: 30px;
    width: 25%;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}
.poetic-text{
position: fixed;   
top:0%;
left: 0%;
width:100%;
padding: 20px;
text-align: center;
font-size: 24px;
color: white
}
