HTML CSSResult Skip Results Iframe
EDIT ON
* { 
    margin: 0; 
    padding: 0; 
  }

.column1 {
  width:20%;
  height:100px;
  float:left;
}

.column2 {
  background-color:burlywood;
  width:60%;
  height:200px;
  float:left;
}

.column3 {
  width:20%;
  height:200px;
  float:left;
}

.smallbox {
  width:100%;
  height:100px;
}

.blue {
  background-color:#6495ed;
}

.red {
  background-color:#696969;
}

.green {
  background-color: #ff8c00;
}
