* { 
  margin: 0; 
  padding: 0; 
}

.circle {
width:20%;
height:100px;
float:left;
}

.triangle {
background-color:seagreen;
width:60%;
height:200px;
float:left;
}

.box1 {
width:20%;
height:200px;
float:left;
}

.box6 {
width:100%;
height:100px;
}

.octagon {
background-color:#b8860b;;
}

.box2 {
background-color:#a9a9a9;;
}

.box5 {                         
  background-color:#9400d3;;
}

.star {
width:20%;
height:100px;
float:left;
}

.box3 {
background-color:lavender;
width:60%;
height: 100px;
float:left;
}

.hexagon {
width:20%;
height:200px;
float:left;
}

.box4 {
background-color:#deb887;
width:100%;
height:100px;
}

