body{
    background-image: url(https://media1.giphy.com/media/QuPrp3BI6cMe2lErCb/200w.gif?cid=6c09b952iz467epnettu6i1is9gd17tw8drq4qd4fwxdlumy&ep=v1_gifs_search&rid=200w.gif&ct=g);
    animation: moveBackground 20s linear infinite;
    image-rendering:optimizeQuality;
    backface-visibility: hidden;
}
img:nth-of-type(2){
    width: 700px;
    height: auto;
    margin: 0 auto;
    display: block;
}
img:nth-last-of-type(3){
    width: 700px;
    height: auto;
    margin: 20px auto;
    display:block;
}
img:nth-last-of-type(1){
    width: 700px;
    height: auto;
    margin:20px auto;
    display: block;
}

a{
    display:block;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: #FFBD33;
}
h1, h2, h3, h4, h5 {
    text-align: center;
    color: #FFBD33;
    font-size: 45px;
}
